@import models.nonresident.AcquisitionDateModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(acquisitionDateForm: Form[AcquisitionDateModel])(implicit request: Request[_])

@main_template(Messages("calc.acquisitionDate.question")) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.DisposalCostsController.disposalCosts.url">@Messages("calc.base.back")</a>

    @errorSummary(acquisitionDateForm, "acquisition-date", "acquisitionDateDay")

    <h1 class="heading-xlarge">@Messages("calc.acquisitionDate.question")</h1>

    @form(action = controllers.nonresident.routes.AcquisitionDateController.submitAcquisitionDate) {

        @formHiddenYesNoRadioNoError(
                acquisitionDateForm,
                "hasAcquisitionDate",
                Messages("calc.acquisitionDate.question"),
                formInlineDateInput(
                    acquisitionDateForm,
                    "acquisitionDate",
                    ""
                ),
                displayLegend = false
        )

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }
}