@import models.nonresident.BoughtForLessModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(boughtForLessForm: Form[BoughtForLessModel])(implicit request: Request[_])

@main_template(Messages("calc.boughtForLess.question")) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.HowBecameOwnerController.howBecameOwner">@Messages("calc.base.back")</a>

    @errorSummary(boughtForLessForm, "boughtForLess")

    <h1 class="heading-xlarge">@Messages("calc.boughtForLess.question")</h1>

    @form(action = controllers.nonresident.routes.BoughtForLessController.submitBoughtForLess) {

        @formYesNoRadio(
            field = boughtForLessForm("boughtForLess"),
            legend = Messages("calc.boughtForLess.question"),
            legendClass = Some("visuallyhidden")
        )

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}