@import models.nonresident.DisabledTrusteeModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(disabledTrusteeForm: Form[DisabledTrusteeModel])(implicit request: Request[_])

@sidebar = {
    <ul>
        <li>
            <a id="helpLink1" class="external-link" rel="external" href="https://www.gov.uk/trusts-taxes/trusts-and-capital-gains-tax"
               target="_blank" data-journey-click="help:govUK:trustsAndCapitalGainsTax">
                @Messages("calc.disabledTrustee.linkOne")
                <span>@Messages("calc.base.externalLink")</span>
            </a>
        </li>
    </ul>
}

@main_template(Messages("calc.disabledTrustee.question"), sidebarLinks = Some(sidebar)) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.CustomerTypeController.customerType">Back</a>

    @errorSummary(disabledTrusteeForm, "disabled-trustee")

    <h1 class="heading-xlarge">@Messages("calc.disabledTrustee.question")</h1>

        @form(action = controllers.nonresident.routes.DisabledTrusteeController.submitDisabledTrustee) {

        <div class="form-group">
            @formInputRadioGroup(
                field = disabledTrusteeForm("isVulnerable"),
                Seq(
                    "Yes"->Messages("calc.base.yes"),
                    "No"->Messages("calc.base.no")),
                '_legend -> Messages("calc.disabledTrustee.question"),
                '_helpText -> Messages("calc.disabledTrustee.helptext"),
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_legendID -> "isVulnerable",
                '_legendClass -> "visuallyhidden",
                '_groupClass -> "inline"
            )
        </div>

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}