@import models.nonresident.HowMuchGainModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(howMuchGainForm: Form[HowMuchGainModel])(implicit request: Request[_])

@main_template(Messages("calc.howMuchGain.question")) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.PreviousGainOrLossController.previousGainOrLoss">@Messages("calc.base.back")</a>

    @errorSummary(howMuchGainForm, "howMuchGain")

    <h1 class="heading-xlarge">@Messages("calc.howMuchGain.question")</h1>

    @form(action = controllers.nonresident.routes.HowMuchGainController.submitHowMuchGain) {

        @formInputMoney(howMuchGainForm, "howMuchGain", Messages("calc.howMuchGain.question"), hideLabel = true)

        <button id="continue-button" type="submit" class="button">@Messages("calc.base.button.continue")</button>

    }
}