@import models.AcquisitionDateModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(acquisitionDateForm: Form[AcquisitionDateModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("calc.acquisitionDate.question")) {

    <a id="back-link" class="back-link" href="@controllers.routes.DisposalCostsController.disposalCosts.url">@Messages("calc.base.back")</a>

    @defining(
        if(acquisitionDateForm.hasErrors) {
            if(acquisitionDateForm.errors.exists(_.message.contains(Messages("calc.common.date.error.invalidDate"))))
                Some(Messages("calc.nonResident.rebasedValue.errorIncompleteDate"))
            else Some(Messages("calc.nonResident.rebasedValue.errorFutureDateGuidance"))
        } else None
    ) { additionalMessage =>
        @errorSummary(acquisitionDateForm, "acquisition-date", "acquisitionDateDay", additionalMessage)
    }

    <h1 class="heading-xlarge">@Messages("calc.acquisitionDate.question")</h1>

    <p class="form-hint">@Messages("calc.acquisitionDate.hintText")</p>

    @form(action = controllers.routes.AcquisitionDateController.submitAcquisitionDate) {

        @formInlineDateInput(acquisitionDateForm,
            "acquisitionDate",
            Messages("calc.acquisitionDate.question"),
            '_visually_hidden -> true)

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}