@import models.AllowableLossesModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(allowableLossesForm: Form[AllowableLossesModel], backUrl: String)(implicit request: Request[_])

@hiddenYesNoContent = {
    @formInputMoney(allowableLossesForm, "allowableLossesAmt", Messages("calc.allowableLosses.question.two"))
}

@hiddenHelpTextContent = {
    <p>@Messages("calc.allowableLosses.helpText.paragraph.one")</p>
    <ul class="list list-bullet">
        <li>@Messages("calc.allowableLosses.helpText.bullet.one")</li>
        <li>@Messages("calc.allowableLosses.helpText.bullet.two")</li>
        <li>@Messages("calc.allowableLosses.helpText.bullet.three")</li>
    </ul>
}

@main_template(Messages("calc.allowableLosses.question.one")) {

    <a id="back-link" class="back-link" href="@backUrl">Back</a>

    @errorSummary(allowableLossesForm, "allowable-losses", "allowableLossesAmt")

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    <div class="form-group">
        @form(action = controllers.nonresident.routes.AllowableLossesController.submitAllowableLosses) {

            @formHiddenYesNoRadio(
                allowableLossesForm,
                "isClaimingAllowableLosses",
                Messages("calc.allowableLosses.question.one"),
                hiddenYesNoContent
            )

            <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

        }

    </div>

    @hiddenHelpText("allowableLossesHiddenHelp",Messages("calc.allowableLosses.helpText.title"),hiddenHelpTextContent)

}