@import models.AnnualExemptAmountModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import uk.gov.hmrc.play.views.helpers._

@(annualExemptAmountForm: Form[AnnualExemptAmountModel], maxAEA: BigDecimal, backUrl: String)(implicit request: Request[_], messages: Messages)

@main_template(Messages("calc.annualExemptAmount.question")) {

    <a id="back-link" class="back-link" href="@backUrl">@Messages("calc.base.back")</a>

    @errorSummary(annualExemptAmountForm, "annual-exempt-amount")

    <h1 class="heading-xlarge">@Messages("calc.annualExemptAmount.question")</h1>

    <div id="input-hint">
       <p>@Messages("calc.annualExemptAmount.helpOne") £@MoneyPounds(maxAEA, 0).quantity @Messages("calc.annualExemptAmount.helpTwo")</p>
    </div>

    @form(action = controllers.routes.AnnualExemptAmountController.submitAnnualExemptAmount) {

        @formInputMoney(annualExemptAmountForm, "annualExemptAmount", Messages("calc.annualExemptAmount.question"), hideLabel = true)

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }

}