@import models.BroughtForwardLossesModel
@import uk.gov.hmrc.play.views.html.helpers.{form, input}
@import views.html.helpers._

@(broughtForwardLossesForm: Form[BroughtForwardLossesModel], backLink: String)(implicit request: Request[_], messages: Messages)

@hiddenContent = {
    <div class="form-group">
        @formInputMoneyHTML(
            broughtForwardLossesForm,
            "broughtForwardLoss",
            Messages("calc.broughtForwardLosses.inputQuestion"),
            hideLabel = true
        )
    </div>
}

@main_template(Messages("calc.broughtForwardLosses.question")) {

    <a id="back-link" class="back-link" href="@backLink">@Messages("calc.base.back")</a>

    @errorSummary(broughtForwardLossesForm, "broughtForwardLoss")

    <h1 class="heading-xlarge">@Messages("calc.broughtForwardLosses.question")</h1>

    @form(action = controllers.routes.BroughtForwardLossesController.submitBroughtForwardLosses) {

        <div class="form-hint">
            <div>@Messages("calc.broughtForwardLosses.helpTitle")</div>

            <ul class="list list-bullet">
                <li>@Messages("calc.broughtForwardLosses.helpListOne")</li>
                <li>@Messages("calc.broughtForwardLosses.helpListTwo")</li>
                <li>@Messages("calc.broughtForwardLosses.helpListThree")</li>
            </ul>
        </div>

        @formHiddenYesNoRadio(broughtForwardLossesForm,
                                "isClaiming",
                                Messages("calc.broughtForwardLosses.question"),
                                hiddenContent,
                                hideLegend = true)

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}