@import models._
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(calculationElectionForm: Form[CalculationElectionModel], content: Seq[(String, String, String, String, Option[String], Option[BigDecimal])])(implicit request: Request[_], messages: Messages)

@main_template(Messages("calc.calculationElection.pageHeading")) {

    <a id="back-link" class="back-link" href="@controllers.routes.CheckYourAnswersController.checkYourAnswers">@Messages("calc.base.back")</a>

    @errorSummary(calculationElectionForm, "calculation-election")

    <div class="grid-row">
        <h1 class="heading-xlarge">@Messages("calc.calculationElection.pageHeading")</h1>
    </div>

    <p>@Messages("calc.calculationElection.paragraph.one")</p>

    <p>@Messages("calc.calculationElection.paragraph.two")</p>

    @form(action = controllers.routes.CalculationElectionController.submitCalculationElection) {

        <div class="form-group">
            @calculationElectionHelperForm(
                field = calculationElectionForm("calculationElection"),
                content,
                showErrorText = true,
                '_labelClass -> "block-label election",
                '_legend -> Messages("calc.calculationElection.legend"),
                '_legendClass -> "bold-medium")
        </div>

        <div class="grid-row form-group">
            <button class="button" name="action" value="continue" id="continue-button">@Messages("calc.base.continue")</button>
        </div>
    }
}