@import models._
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(calculationElectionForm: Form[CalculationElectionModel], content: Seq[(String, String, String, String, Option[String], Option[BigDecimal])],
        backLink: String)(implicit request: Request[_], messages: Messages)

@main_template(Messages("calc.calculationElectionNoReliefs.title")) {

  <a id="back-link" class="back-link" href="@backLink">@Messages("calc.base.back")</a>

  @errorSummary(calculationElectionForm, "calculation-election")

  <h1 class="heading-xlarge">@Messages("calc.calculationElectionNoReliefs.title")</h1>

  <div id="help-text">
    <p>@Messages("calc.calculationElectionNoReliefs.helpText")</p>

    <p>
      @Messages("calc.calculationElectionNoReliefs.helpTextMethodPartOne")
      <strong>@content.head._4.toLowerCase</strong>
      @Messages("calc.calculationElectionNoReliefs.helpTextMethodPartTwo")
    </p>
  </div>

  @form(action = controllers.routes.CalculationElectionController.submitCalculationElection) {

    <div class="form-group">
      @calculationElectionHelperForm(
        field = calculationElectionForm("calculationElection"),
        Seq(content.head),
        showErrorText = true,
        '_labelClass -> "block-label election",
        '_legendClass -> "bold-medium")

      <div class="calculation-election-margin">
        <p>@Messages("calc.calculationElectionNoReliefs.helpTextChooseMethod")</p>
      </div>

      @calculationElectionHelperForm(
        field = calculationElectionForm("calculationElection"),
        content.tail,
        showErrorText = false,
        '_labelClass -> "block-label election",
        '_legendClass -> "bold-medium")
    </div>

    <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
  }

}