@import models.CurrentIncomeModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(currentIncomeForm: Form[CurrentIncomeModel], backLink: String)(implicit request: Request[_], messages: Messages)


@main_template(Messages("calc.currentIncome.question")) {

    <a id="back-link" class="back-link" href="@backLink">Back</a>

    @errorSummary(currentIncomeForm, "current-income")

    <h1 class="heading-xlarge">@Messages("calc.currentIncome.question")</h1>

    @form(action = controllers.routes.CurrentIncomeController.submitCurrentIncome) {

        <span class="form-hint">@Messages("calc.currentIncome.helpText.line1")</span>
        <span class="form-hint">@Messages("calc.currentIncome.helpText.line2")</span>

        @formInputMoney(
            inputForm = currentIncomeForm,
            fieldName = "currentIncome",
            questionText = Messages("calc.currentIncome.question"),
            hideLabel = true
        )

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }

}
