@import models.DisposalValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(disposalValueForm: Form[DisposalValueModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("calc.disposalValue.question")) {

    <a id="back-link" class="back-link" href="@controllers.routes.SoldForLessController.soldForLess">@Messages("calc.base.back")</a>

    @errorSummary(disposalValueForm, "disposal-value")

    <h1 class="heading-xlarge">@Messages("calc.disposalValue.question")</h1>

    @form(action = controllers.routes.DisposalValueController.submitDisposalValue) {

        @formInputMoney(disposalValueForm, "disposalValue", Messages("calc.disposalValue.question"), hideLabel = true)

        <button id="continue-button" type="submit" class="button">@Messages("calc.base.button.continue")</button>

    }
}