@import uk.gov.hmrc.play.views.html.helpers.form
@import models.ImprovementsModel
@import views.html.helpers._
@import constructors.ImprovementsConstructor

@(improvementsForm: Form[ImprovementsModel], improvementsOptions: Boolean, backUrl: String, ownerBeforeLegislationStart: Boolean)(implicit request: Request[_], messages: Messages)

@exampleContent = {
    <p>@Messages("calc.improvements.exampleOne")
        @Messages("calc.improvements.exampleTwo")</p>
}

@jointOwnershipText = {
    <p id="jointOwner">@Messages("calc.improvements.jointOwnership")</p>
}

@defining(if(ownerBeforeLegislationStart) { Messages("calc.improvements.ownerBeforeLegislationStartQuestion") }
          else { Messages("calc.improvements.question") }) { question =>

    @main_template(question) {

        <a id="back-link" class="back-link" href="@backUrl">@Messages("calc.base.back")</a>

        @errorSummary(improvementsForm, "improvements", "improvementsAmt")

        <h1 class="heading-xlarge">@question</h1>

        <span class="form-hint">
            <p>@Messages("calc.improvements.helpOne")
                @Messages("calc.improvements.helpTwo")</p>
        </span>

        <div class="panel-indent">
            <p id="jointOwner">@Messages("calc.improvements.jointOwnership")</p>
        </div>

        @expandableHelpTextHelper(Messages("calc.improvements.exampleTitle"), exampleContent)

        @form(action = controllers.routes.ImprovementsController.submitImprovements) {

            @ImprovementsConstructor.generateImprovements(improvementsForm, improvementsOptions, question)

            <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
        }
    }
}
