@import models.DisposalValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(marketValueForm: Form[DisposalValueModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("calc.marketValue.gaveItAway.question")) {

    <a id="back-link" class="back-link" href="@controllers.routes.SoldOrGivenAwayController.soldOrGivenAway">@Messages("calc.base.back")</a>

    @errorSummary(marketValueForm, "disposalValue")

    <h1 class="heading-xlarge" for="disposal-value">@Messages("calc.marketValue.gaveItAway.question")</h1>

    <p class="form-hint">@Messages("calc.marketValue.helpText") <br/>
        @Messages("calc.marketValue.helpTextAdditional")
    </p>

    @form(action = controllers.routes.MarketValueWhenSoldOrGaveAwayController.submitMarketValueWhenGaveAway()) {
        @formInputMoney(marketValueForm, "disposalValue", Messages("calc.marketValue.gaveItAway.question"), hideLabel = true)

        <button id="continue-button" type="submit" class="button">@Messages("calc.base.button.continue")</button>
    }
}