@import views.html.helpers._
@import common.Dates
@import models._

@(data: DisposalDateModel)(implicit request: Request[_], messages: Messages)

@date = {
    @Dates.datePageFormatNoZero.format(Dates.constructDate(data.day, data.month, data.year))
}

@main_template(Messages("nocgt.invaliddate.title")) {

    <a id="back-link" class="back-link" href="@controllers.routes.DisposalDateController.disposalDate">Back</a>

    <h1 class="heading-xlarge">@Messages("nocgt.invaliddate.title")</h1>
    <p>@Messages("nocgt.content.one")</p>
    <p>
        @Messages("nocgt.content.two")
        <span class="no-wrap">
            <span class="bold-small">@date</span>
            <a id="change-link" href="@controllers.routes.DisposalDateController.disposalDate">@Messages("nocgt.content.change")</a>
        </span>
    </p>
}