@import models.OtherReliefsModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.helpers.MoneyPounds
@import views.html.helpers._

@(otherReliefsForm: Form[OtherReliefsModel], chargeableGain: BigDecimal, gain: BigDecimal)(implicit request: Request[_])

@helpContent = {
    <div id="otherReliefHelp" class="form-hint">
        @Messages("calc.otherReliefs.help")
        <br/>
        @Messages("calc.otherReliefs.helpTwo")
    </div>

    <div id="otherReliefHelpTwo" class="panel-indent panel-indent--gutter panel-indent--wide">
        <p class="form-hint">
            @if(chargeableGain < 0) {
                @Messages("calc.otherReliefs.gainInfo.part1.loss")
            } else {
                @Messages("calc.otherReliefs.gainInfo.part1")
            }
            <span class="bold-small">&pound;@MoneyPounds(chargeableGain, 0).quantity</span>
            @if(gain < 0) {
                @Messages("calc.otherReliefs.gainInfo.part2.loss")
            } else {
                @Messages("calc.otherReliefs.gainInfo.part2")
            }
            <span class="bold-small">&pound;@MoneyPounds(gain, 0).quantity</span>
            @Messages("calc.otherReliefs.gainInfo.part3")
        </p>
    </div>
}

@main_template(Messages("calc.otherReliefs.question")) {

    <a id="back-link" class="back-link" href="@controllers.routes.CheckYourAnswersController.checkYourAnswers()">@Messages("calc.base.back")</a>

    @errorSummary(otherReliefsForm, "other-reliefs", "otherReliefs")

    <h1 class="heading-xlarge">@Messages("calc.otherReliefs.question")</h1>

    <div class="form-group">

        @helpContent

        @form(action = controllers.routes.OtherReliefsController.submitOtherReliefs) {

            @formInputMoney(otherReliefsForm,
                "otherReliefs",
                Messages("calc.otherReliefs.question"),
                hideLabel = true
            )

            <button class="button" id="continue-button">@Messages("calc.base.button.continue")</button>
        }
    </div>
}