@import models.PrivateResidenceReliefModel
@import uk.gov.hmrc.play.views.html.helpers.{form, input}
@import views.html.helpers._

@(privateResidenceReliefForm: Form[PrivateResidenceReliefModel], daysBetweenShow: Boolean, daysBeforeShow: Boolean, disposalDateLess18Months: String)(implicit request: Request[_], messages: Messages)

@whyThisDate(showBoth: Boolean) = {

    @if(showBoth) {
        <p id="bulletPointTitle">@Messages("calc.privateResidenceRelief.helpTextSubTitle")</p>

        <ul class="list-bullet">
                <li>@Messages("calc.privateResidenceRelief.daysBeforeHelpText")</li>

                <li>@disposalDateLess18Months @Messages("calc.privateResidenceRelief.daysBetweenHelpText")</li>
        </ul>
    } else {
            <p id="helpTextBetween">@disposalDateLess18Months @Messages("calc.privateResidenceRelief.daysBetweenHelpText")</p>
        }
    }

@hiddenContent = {

    <p id="formExplanation">@Messages("calc.privateResidenceRelief.formHintExplanation")</p>

@if(daysBeforeShow) {

    <div class="form-group bold">
    @input(
        privateResidenceReliefForm("daysClaimed"),
        '_label -> Messages("calc.privateResidenceRelief.questionBefore.partOne"),
        '_labelClass -> "bold",
        '_type -> "text",
        '_inputClass -> "form-group input--no-spinner",
        '_type -> "number"
    )
    </div>
}
@if(daysBetweenShow) {

    <div class="form-group bold">
    @input(
        privateResidenceReliefForm("daysClaimedAfter"),
        '_label -> (Messages("calc.privateResidenceRelief.questionBetween.partOne") + " " + disposalDateLess18Months + " " + Messages("calc.privateResidenceRelief.questionBetween.partTwo")),
        '_labelClass -> "bold",
        '_type -> "text",
        '_inputClass -> "form-group input--no-spinner",
        '_type -> "number"
    )
    </div>
}

@(daysBetweenShow, daysBeforeShow) match {
    case (true, true) => {
        @expandableHelpTextHelper(Messages("calc.privateResidenceRelief.helpTextBeforeAfter"), whyThisDate(true), false, true)
    }
    case (true, false) => {
        @expandableHelpTextHelper(Messages("calc.privateResidenceRelief.helpTextJustBefore"), whyThisDate(false), false, true)
    }

    case (_, _) => {}
}
}

@main_template(Messages("calc.privateResidenceRelief.question")) {

    <a id="back-link" class="back-link" href="@controllers.routes.ImprovementsController.improvements">@Messages("calc.base.back")</a>

    @if(daysBeforeShow) {@errorSummary(privateResidenceReliefForm, "private-residence-relief", "daysClaimed")
    } else {
        @if(daysBetweenShow) {@errorSummary(privateResidenceReliefForm, "private-residence-relief", "daysClaimedAfter")
        } else {
            @errorSummary(privateResidenceReliefForm, "private-residence-relief")
        }
    }


    <h1 class="heading-xlarge">@Messages("calc.privateResidenceRelief.question")</h1>

    <p id="intro">@Messages("calc.privateResidenceRelief.intro")</p>


    <div id="privateResidenceReliefLink">@Messages("calc.privateResidenceRelief.helpText")
        <a class="external-link" rel="external" href="https://www.gov.uk/tax-sell-home/private-residence-relief" target="_blank">
            @Messages("calc.privateResidenceRelief.helpLink") <span>@Messages("calc.base.externalLink")</span>
        </a>
    </div>

    @form(action = controllers.routes.PrivateResidenceReliefController.submitPrivateResidenceRelief) {

        @if(!(daysBeforeShow || daysBetweenShow)) {
            <div class="inline form-group">
            @formInputRadioGroup(
                field = privateResidenceReliefForm("isClaimingPRR"),
                Seq(
                    "Yes" -> Messages("calc.base.yes"),
                    "No" -> Messages("calc.base.no")),
                '_legend -> Messages("calc.privateResidenceRelief.question"),
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_legendID -> "isClaimingPRR",
                '_legendClass -> "visuallyhidden"
            )
            </div>
        } else {
            @formHiddenYesNoRadio(
                privateResidenceReliefForm,
                "isClaimingPRR",
                Messages("calc.privateResidenceRelief.question"),
                hiddenContent,
                hideLegend = true
            )
        }

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}
