@import models.PropertyLivedInModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(propertyLivedInForm: Form[PropertyLivedInModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("calc.propertyLivedIn.title")) {

  <a id="back-link" class="back-link" href="@controllers.routes.ImprovementsController.improvements.url">@Messages("calc.base.back")</a>

  @errorSummary(propertyLivedInForm, "propertyLivedIn")

  <h1 class="heading-xlarge">@Messages("calc.propertyLivedIn.title")</h1>

  @form(action = controllers.routes.PropertyLivedInController.submitPropertyLivedIn) {

     @formYesNoRadio(
       field = propertyLivedInForm("propertyLivedIn"),
       legend = Messages("calc.propertyLivedIn.title"),
       legendClass = Some("visuallyhidden")
     )

     <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
  }
}