@import models.RebasedCostsModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(rebasedCosts: Form[RebasedCostsModel])(implicit request: Request[_])

@main_template(Messages("calc.rebasedCosts.question")) {

    <a id="back-link" class="back-link" href="@controllers.nonresident.routes.RebasedValueController.rebasedValue">Back</a>

    @errorSummary(rebasedCosts, "rebased-costs", "rebasedCosts")

    <h1 class="heading-xlarge">@Messages("calc.rebasedCosts.question")</h1>

    @form(action = controllers.nonresident.routes.RebasedCostsController.submitRebasedCosts) {

        @formHiddenYesNoRadio(rebasedCosts,
                              "hasRebasedCosts",
                              Messages("calc.rebasedCosts.question"),
                              formInputMoney(rebasedCosts,
                                             "rebasedCosts",
                                             Messages("calc.rebasedCosts.questionTwo")
                                            ),
                               hideLegend = true
                              )

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }
}