@import models.RebasedValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(rebasedValueForm: Form[RebasedValueModel])(implicit request: Request[_], messages: Messages)

@hiddenHelpTextContent = {
    <p>@Messages("calc.nonResident.rebasedValue.helpText")</p>
}

@hintTextContent = {
    <span class="form-hint">@Messages("calc.nonResident.mandatoryRebasedValue.hintText")</span>
}

@main_template(Messages("calc.nonResident.mandatoryRebasedValue.questionAndDate")) {

    <a id="back-link" class="back-link" href="@controllers.routes.AcquisitionCostsController.acquisitionCosts">@Messages("calc.base.back")</a>

    @errorSummary(rebasedValueForm, "rebased-value", "rebasedValueAmt")

    <h1 class="heading-xlarge">@Messages("calc.nonResident.mandatoryRebasedValue.question") <span class="no-wrap">@Messages("calc.nonResident.mandatoryRebasedValue.date")</span></h1>

    @hintTextContent

    <p class="panel-indent panel-indent--wide panel-indent--gutter">@Messages("calc.nonResident.rebasedValue.jointOwnership")</p>

    @hiddenHelpText("rebasedValue", Messages("calc.nonResident.rebasedValue.helpHidden.title"), hiddenHelpTextContent, "form-hint")

    @form(action = controllers.routes.RebasedValueController.submitRebasedValue) {

        @formInputMoney(rebasedValueForm, "rebasedValueAmt", Messages("calc.nonResident.mandatoryRebasedValue.questionAndDate"), hideLabel = true)

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}