@import models.SoldForLessModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.main_template

@(soldForLessForm : Form[SoldForLessModel])(implicit request: Request[_])

@main_template(
    title = Messages("calc.nonResident.soldForLess.question")
    ) {

    <a id="back-link" class="back-link" href="@controllers.routes.SoldOrGivenAwayController.soldOrGivenAway">@Messages("calc.base.back")</a>

    @errorSummary(soldForLessForm, "soldForLess")

    <h1 class="heading-xlarge">@Messages("calc.nonResident.soldForLess.question")</h1>

    @form(action = controllers.routes.SoldForLessController.submitSoldForLess) {

        @formInputRadioGroup(
            field = soldForLessForm("soldForLess"),
            Seq(
                "Yes"->Messages("calc.base.yes"),
                "No"->Messages("calc.base.no")
            ),
            '_legend -> Messages("calc.nonResident.soldForLess.question"),
            '_legendID -> "question",
            '_legendClass -> "visuallyhidden",
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_groupClass -> "inline form-group radio-list",
            '_fieldsetAttributes -> "aria-details = help"
        )

        <input type="hidden" name="option" value="" />
        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }

}