@import views.html.helpers.nonresident.summarySectionNoLink
@import models._
@import uk.gov.hmrc.play.views.helpers.MoneyPounds
@import constructors.OtherReliefsDetailsConstructor

@(totalGain: TotalGainAnswersModel, result: Seq[QuestionAnswerModel[Any]], taxYear: TaxYearModel, electionType: String, pRRModel: Option[PrivateResidenceReliefModel] = None, finalAnswers: Option[TotalPersonalDetailsCalculationModel] = None, taxOwed: BigDecimal, otherReliefs: Option[OtherReliefsModel])(implicit request: Request[_])

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/calculate-your-capital-gains/non-resident/assets/stylesheets/cgt.css">
    <title>@Messages("calc.summary.title")</title>
</head>

<div class="pdf pdf-non-resident">
    <div class="header-container">
        <h1 class="heading-xlarge">
            <span class="pre-heading">@Messages("calc.summary.secondaryHeading")</span>
            <b>&pound;@MoneyPounds(taxOwed, 2).quantity</b>
        </h1>
        <div class="logo">
            <span class="organisation-logo organisation-logo-medium">HM Revenue &amp; Customs</span>
        </div>
    </div>

    @{if (!taxYear.isValidYear) {
        <div class="notice-wrapper">
            <div class="notice">
                <strong class="bold-small">
                    {Messages("calc.base.summary.dateWarning", taxYear.calculationTaxYear)}
                </strong>
            </div>
        </div>
        }
    }

    @summarySectionNoLink("calculationDetails", Messages("calc.summary.calculation.details.title"), result)
    @summarySectionNoLink("purchaseDetails", Messages("calc.summary.purchase.details.title"), totalGain.purchaseDetailsRows)
    @summarySectionNoLink("propertyDetails", Messages("calc.summary.property.details.title"), totalGain.propertyDetailsRows)
    @summarySectionNoLink("salesDetails", Messages("calc.summary.sale.details.title"), totalGain.salesDetailsRows)
    @summarySectionNoLink("deductions", Messages("calc.summary.deductions.title"), totalGain.deductionDetailsRows(pRRModel)
    ++ OtherReliefsDetailsConstructor.getOtherReliefsSection(otherReliefs, electionType))
    @{if (finalAnswers.isDefined)
        summarySectionNoLink("personalDetails", Messages("calc.summary.personal.details.title"), finalAnswers.get.personalDetailsRows)
    }


    <div id="whatToDoNext" class="form-group">
        <h2 class="heading-medium">@Messages("calc.summary.next.fullMessage")</h2>
        <p>@Messages("calc.summary.link.message")</p>
        <p>
            <a class="external-link" rel="external" href="https://www.gov.uk/guidance/capital-gains-tax-for-non-residents-uk-residential-property"
               target="_blank" data-journey-click="nav:calc:kana-nrcgt">
                <span>https://www.gov.uk/guidance/capital-gains-tax-for-non-residents-uk-residential-property</span>
            </a>
        </p>
    </div>

</div>