@import models.AcquisitionValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.main_template

@(acquisitionMarketValue : Form[AcquisitionValueModel])(implicit request: Request[_])

@main_template(Messages("calc.worthWhenBoughtForLess.question")) {

    <a id="back-link" class="back-link" href="@controllers.routes.BoughtForLessController.boughtForLess">@Messages("calc.base.back")</a>

    @errorSummary(acquisitionMarketValue, "acquisitionMarketValue")

    <h1 class="heading-xlarge">@Messages("calc.worthWhenBoughtForLess.question")</h1>

    <p id="helpText" class="form-hint">@Messages("calc.acquisitionMarketValue.hintOne")<br>@Messages("calc.acquisitionMarketValue.hintTwo")</p>

    @form(action = controllers.routes.WorthWhenBoughtForLessController.submitWorthWhenBoughtForLess) {

        @formInputMoney(acquisitionMarketValue, "acquisitionMarketValue", Messages("calc.worthWhenBoughtForLess.question"), hideLabel = true)

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}