@import models.AcquisitionValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.main_template

@(acquisitionMarketValue : Form[AcquisitionValueModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("calc.worthWhenInherited.question")) {

    <a id="back-link" class="back-link" href="@controllers.routes.HowBecameOwnerController.howBecameOwner">@Messages("calc.base.back")</a>

    @errorSummary(acquisitionMarketValue, "acquisitionMarketValue")

    <h1 class="heading-xlarge">@Messages("calc.worthWhenInherited.question")</h1>

    <p id="hintText" class="form-hint">@Messages("calc.worthWhenInherited.hint")</p>

    <p id="helpText">@Messages("calc.worthWhenBoughtForLess.helpText")</p>

    @form(action = controllers.routes.WorthWhenInheritedController.submitWorthWhenInherited) {

        @formInputMoney(acquisitionMarketValue, "acquisitionMarketValue", Messages("calc.worthWhenInherited.question"), hideLabel = true)

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}