@import config.AppConfig
@import views.html.helpers.expandableHelpTextHelper
@()(implicit request: Request[_], messages: Messages, config: AppConfig)

@hiddenContent = {
    <p>@Messages("calc.whatNext.saText")</p>
}

@main_template(Messages("calc.whatNext.title")) {

    <a class="back-link" href="@controllers.routes.SummaryController.summary().url">@Messages("calc.base.back")</a>

    <h1 class="heading-large">@Messages("calc.whatNext.title")</h1>

    <div class="form-group">
        <p>@Messages("calc.whatNext.listTitle")</p>

        <ul class="list list-bullet">
            <li>@Messages("calc.whatNext.listOne")</li>
            <li>@Messages("calc.whatNext.listTwo")</li>
        </ul>

        <p>@Messages("calc.whatNext.penaltyWarning")</p>
    </div>

    <div class="form-group">
        @expandableHelpTextHelper(Messages("calc.whatNext.saHeader"), hiddenContent)

        <div class="form-group">
            <a class="button" href="@config.nrIFormLink">@Messages("calc.whatNext.report")</a>
        </div>
        <div class="form-group">
            <a href="@config.govUkLink">@Messages("calc.whatNext.finish")</a>
        </div>
    </div>
}