@import views.html.helpers._

@(taxToPay: BigDecimal, gainAtBandOne: BigDecimal, gainAtBandTwo: BigDecimal, taxAtBandOne: BigDecimal, taxAtBandTwo: BigDecimal, taxRateOne: Int, taxRateTwo: Int)(implicit request: Request[_], messages: Messages)

<div id="yourTaxRate" class="resident summary-underline summary-details-padding">
    @if(taxToPay > 0) {
        <h3>@Messages("calc.summaryPartial.yourTaxRate")</h3>

        <p>@Messages("calc.summaryPartial.incomeBandInfo")</p>

        @if(gainAtBandOne > 0) {
            @summaryNumericRow("taxBandOne", Messages("calc.summaryPartial.taxRate", gainAtBandOne, taxRateOne), taxAtBandOne)
        }

        @if(gainAtBandTwo > 0) {
            @summaryNumericRow("taxBandTwo", Messages("calc.summaryPartial.taxRate", gainAtBandTwo, taxRateTwo), taxAtBandTwo)
        }
    }

    @summaryNumericRow("taxToPay", Messages("calc.summaryPartial.taxToPay"), taxToPay, isTotal = true)

</div>
