@import common.nonresident.CalculationType
@import views.html.helpers._

@(calculationType: String, saleValue: BigDecimal, acquisitionValue: BigDecimal, allCosts: BigDecimal, totalGain: BigDecimal = 0, percentageOfGain: BigDecimal = 0)(implicit request: Request[_], messages: Messages)

<div id="workedOutSection">
    <h3>@Messages("calc.summaryPartial.workingOutSectionHeading")</h3>
    <p class="lede">
        @{calculationType match {
            case CalculationType.flat => Messages("calc.calculationElection.message.flat")
            case CalculationType.rebased => <span>{Messages("calc.calculationElection.message.rebased")}</span> <span class="no-wrap"> {Messages("calc.calculationElection.message.rebasedDate")}</span>
            case CalculationType.timeApportioned => <span>{Messages("calc.calculationElection.message.time")}</span> <span class="no-wrap"> {Messages("calc.calculationElection.message.timeDate")}</span>
            }
        }
    </p>

    <h4>@Messages("calc.summaryPartial.yourTotalGain")</h4>

    @summaryNumericRow("saleValue",Messages("calc.summaryPartial.valueWhenSold"), saleValue)

    @{if(calculationType == CalculationType.flat || calculationType == CalculationType.timeApportioned)
        summaryNumericRow("acquisitionValue", Messages("calc.summaryPartial.valueWhenAcquired"), acquisitionValue)
    }

    @{if(calculationType == CalculationType.rebased)
        summaryNumericRow("acquisitionValue", Messages("calc.summaryPartial.valueAtTaxStart"), acquisitionValue)
    }

    @summaryNumericRow("allCosts", Messages("calc.summaryPartial.allCosts"), allCosts)

</div>
