@import common.nonresident.CalculationType
@import views.html.helpers._

@(calculationType: String, disposalValue: BigDecimal, acquisitionValue: BigDecimal, totalCosts: BigDecimal, totalGain: BigDecimal = 0,
percentageTotalGain: BigDecimal = 0, percentageOfGain: Int = 0)(implicit request: Request[_], messages: Messages)

<div id="workedOutSection" class="summary-underline summary-details-padding">
    <h2>@Messages("calc.summaryPartial.workingOutSectionHeading")</h2>
    <p class="lede">
        @{calculationType match {
            case CalculationType.flat => Messages("calc.calculationElection.message.flat")
            case CalculationType.rebased => <span>{Messages("calc.calculationElection.message.rebased")}</span> <span class="no-wrap"> {Messages("calc.calculationElection.message.rebasedDate")}</span>
            case CalculationType.timeApportioned => <span>{Messages("calc.calculationElection.message.time")}</span> <span class="no-wrap"> {Messages("calc.calculationElection.message.timeDate")}</span>
            }
        }
    </p>

    <h3>@Messages("calc.summaryPartial.yourTotalGain")</h3>

    @summaryNumericRow("disposalValue",Messages("calc.summaryPartial.valueWhenSold"), disposalValue)

    @{if(calculationType == CalculationType.flat || calculationType == CalculationType.timeApportioned)
        summaryNumericRow("acquisitionValue", Messages("calc.summaryPartial.valueWhenAcquired"), acquisitionValue)
    }

    @{if(calculationType == CalculationType.rebased)
        summaryNumericRow("acquisitionValue", Messages("calc.summaryPartial.valueAtTaxStart"), acquisitionValue)
    }

    @summaryNumericRow("totalCosts", Messages("calc.summaryPartial.totalCosts"), totalCosts)

    @if(calculationType == CalculationType.timeApportioned) {
        @summaryNumericRow("totalGain", Messages("calc.summaryPartial.gainMadeOnProperty"), totalGain)

        <div id="percentageOfGain" class="grid-layout grid-layout--no-margin font-small hint-text">
            <div id="percentageOfGain-text" class="grid-layout__column--1-2">
                @Messages("calc.summaryPartial.percentageOfGain")
            </div>

            <div id="percentageOfGain-value" class="grid-layout__column--1-3 text--right">
                @percentageOfGain&percnt;
            </div>
        </div>

        @{
            if(percentageTotalGain > 0) summaryNumericRow("percentageTotalGain", Messages("calc.summaryPartial.totalGain"), percentageTotalGain, isTotal = true)
            else summaryNumericRow("percentageTotalGain", Messages("calc.summaryPartial.totalLoss"), percentageTotalGain, isTotal = true)
        }
    }

    @{if(calculationType == CalculationType.flat || calculationType == CalculationType.rebased)
        if(totalGain > 0) summaryNumericRow("totalGain", Messages("calc.summaryPartial.totalGain"), totalGain, isTotal = true)
        else summaryNumericRow("totalGain", Messages("calc.summaryPartial.totalLoss"), totalGain, isTotal = true)
    }

</div>
