@import models.QuestionAnswerModel

@(sectionID: String, sectionTitle: String, rows: Seq[QuestionAnswerModel[Any]], decimalPlaces: Int = 2)

@if(rows.nonEmpty) {
    <section id=@sectionID class="summary-section">
    @for(row <- rows) {
        <div class="grid-layout grid-layout--stacked form-group">
            <div class="grid-layout__column grid-layout__column--1-3">
            @if(row == rows.head) {
                <span class="heading-large">@sectionTitle</span>
            }
            </div>
            @questionAnswerRow(row, decimalPlaces)
        </div>
    }
    </section>
}